.logout {
  position: absolute;
  top: 16px;
  right: 16px;
}

.logout button {
  font-size: 24px;
  text-transform: uppercase;
}

main.fullwidth {
  height: 100vh;
  background-color: rgb(93, 93, 93);
}

.login {
  background: rgb(162, 162, 162);
  text-align: center;
  padding: 16px;
  font-size: 1.5em;
}

.loginForm {
  width: 100%;
}

.loginForm input,
.passwordForm input {
  background-color: white;
  margin-bottom: 12px;
  padding: 4px;
  border: 1px solid rgb(142, 142, 142);
  border-radius: 4px;
  font-size: 20px;
}

.loginForm button,
.passwordForm button {
  background-color: rgb(11, 126, 29);
  border-radius: 8px;
  color: #fff;
  padding: 8px;
  width: 80%;
  font-size: 20px;
  text-transform: uppercase;
}

.loginForm button:hover,
.passwordForm button:hover {
  background-color: rgb(1, 75, 13);
  box-shadow: 3px 2px 7px 0px grey;
  cursor: pointer;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.ace_editor * {
  font-family: monospace !important;
}

.green {
  border-color: #00bd36;
  color: #00bd36;
}

.orange {
  border-color: #e8cb63;
  color: #e8cb63;
}

.rose {
  border-color: #ff7979;
  color: #ff7979;
}

.purple {
  border-color: #c4baf5;
  color: #c4baf5;
}

.white_back {
  color: #fff;
  padding-right: 16px;
}

.wine {
  border: 2px solid #c90000;
  color: #c90000;
}

.buttons button,
.githubPath button {
  border: solid 2px;
  font-size: 24px;
}

select,
#level input[type='text'],
#level input[type='tel'],
#level input[type='number'] {
  background: white;
  padding: 2px;
  margin: 16px;
  font-size: 16px;
  border: 1px solid black;
}

#selection,
#level {
  text-align: center;
}

#selection {
  display: inherit;
}

#level {
  width: 100%;
  /* background: #cecece; */
}

#level .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#exercises {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

#exercises button.exercise {
  border: 2px solid #009826;
  background: white;
  padding: 4px 24px;
  font-size: 24px;
}

#exercises button.exercise.selected {
  border: 2px solid white;
  background: #009826;
}

#level p {
  font-size: 20px;
}

#level button.finish {
  padding: 8px;
  background: #009826;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 0.6px solid #757575;
  margin: 8px;
}

#level button.remove {
  background: #d73333;
  color: white;
  font-size: 16px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 0.6px solid #757575;
}

a.white_back {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 32px;
  cursor: pointer;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
}

.row:nth-child(odd) {
  background: #cccccc;
}

.row:nth-child(even) {
  background: #acacac;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.testGroup {
  border: 4px solid darkgreen;
  position: relative;
  overflow: hidden;
}

#students .row * {
  width: calc(80vw / 7);
  padding: 8px;
  font-size: 18px;
}

#excel .row * {
  width: calc(80vw / 3);
  padding: 8px;
  font-size: 18px;
}

.row input {
  margin: 8px 0;
  border-radius: 4px;
}

.row input:focus,
.row button:focus,
.row button:hover {
  border: 1px solid #323232;
  margin-right: 32px;
  margin: 8px;
  border-radius: 4px;
  background: #f5f5f5;
}

.panic {
  width: 100%;
  height: 18px;
  background: #870000;
}

.correction {
  width: 100%;
  min-height: 18px;
  background: #b9e0af;
}

#totalCP {
  position: absolute;
  top: 0;
  right: 32px;
}

#newStudent {
  width: 80vh;
  margin-top: 20px;
  padding: 16px;
  background: rgb(7, 140, 0);
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: 1px 3px 6px rgb(99, 99, 99);
}

#excelButton {
  width: 80vh;
  margin-top: 20px;
  padding: 16px;
  background: rgb(7, 140, 0);
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: 1px 3px 6px rgb(99, 99, 99);
}

#correctButton {
  width: 40vh;
  margin-top: 20px;
  padding: 8px;
  background: rgb(7, 140, 0);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 1px 3px 6px rgb(99, 99, 99);
}

#newStudent:active {
  box-shadow: none;
  transition: 0.4s;
}

#addDialog {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  width: 100vw;
  position: fixed;
  background: rgba(203, 203, 203, 0.88);
  z-index: 5;
}

#addDialog .dialog {
  max-width: 50vw;
  background: rgb(89, 89, 89);
  color: white;
  padding: 24px;
  box-shadow: 0 0 20px 2px white;
  text-align: center;
  min-width: 486px;
}

#closeButton {
  border: none;
  color: red;
  font-size: 30px;
  position: relative;
  right: -212px;
  top: -16px;
}

#addDialog textarea {
  width: 100%;
  font-size: 18px;
}

#addDialog button:not(:first-of-type) {
  margin-top: 24px;
  border: 2px solid;
  font-size: 24px;
}

#editorjs {
  background: white;
  border-radius: 8px;
  border: 2px solid darkgrey;
  text-align: initial;
  padding-top: 24px;
}

.ce-block__content {
  padding: 8px;
  background: white;
}

.ce-block--focused {
  background: #f7f7f7;
}

.ce-block--focused .ce-block__content {
  border: 3px solid #aaa;
  border-radius: 4px;
}

.JSONValidator {
  width: 20px;
  height: 20px;
  margin-left: 24px;
  border-radius: 50%;
  background: #0b0;
}

.testGroup .deleteThis {
  position: absolute;
  right: 0;
  background: darkred;
  top: -100%;
  text-align: center;
  transition: top 0.5s ease;
}

.testGroup .cornerCheck {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.cornerCheck:hover .deleteThis {
  top: 0;
}

#testCode {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#testCode .half {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.half:first-child textarea {
  height: 162px;
  font-family: 'Courier New', Courier, monospace;
  padding: 4px;
}

.half:last-child textarea {
  height: 184px;
  font-family: 'Courier New', Courier, monospace;
  padding: 4px;
}

.username.force {
  color: #ad0bd4;
}